.secondary-title {
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}
